.error-container {
  padding: 5rem 0;
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  text-align: center;
  text-transform: capitalize;
}

.error-btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
